# I/O

In [25]:
import numpy as np
import pandas as pd

In [26]:
pwd

'c:\\Users\\HAL9000\\JupyterNotebooks\\Python-Data-Science'

## CSV

In [27]:
df = pd.read_csv('example.csv')

In [28]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [29]:
df.to_csv('example_to_csv')

## XLSX

In [30]:
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [31]:
df.to_excel('example_to_excel.xlsx', sheet_name='Blub')

## HTML

In [33]:
df_html = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')
df_html

ImportError: lxml not found, please install it

In [ ]:
type(df_html)

In [ ]:
df_html[0]

## SQL

needs connector

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///:memory:')

In [ ]:
engine

In [ ]:
df.to_sql('DataFrame_Name', engine)

In [ ]:
sql_df = pd.read_sql('DataFrame_Name', con=engine)

In [ ]:
sql_df