# Ecommerce Verkäufe Übung - Aufgabe
In dieser Übung werden wir unechte Verkaufsdaten von Amazon nutzen. Dieser Datensatz liegt uns in Englisch vor und heißt "Ecommerce Purchases" (dt. Ecommerce Verkäufe). 

Folgt dem Notebook und beantwortet die gestellten Aufgaben. Dabei ist es wichtig, dass es häufig mehrere Lösungen zum gewünschten Ergebnis gibt, jede Aufgabe aber in einer Zeile Code gelöst werden kann. Außerdem werden die Aufgaben nach und nach schwerer.

Bitte seht es uns nach, wenn nicht alle Ergebnisse "realistisch" sind bzw. Sinn ergeben. Das liegt daran, dass es sich hier um unechte, ausgedachte Daten handelt.

**Importiere Pandas als pd.**

In [30]:
import pandas as pd

**Lese die "Ecommerce Purchases" CSV-Datei ein und setze einen DataFrame names "ecom" darauf auf.**

In [31]:
ecom = pd.read_csv("..\..\data\Ecommerce Purchases")

**Schaue dir den *head* des DataFrame an.**

In [32]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**Counting all unique possible entrys per column*ecom.nunique(axis=0)*

In [33]:
ecom.nunique(axis=0)

Address             10000
Lot                  9822
AM or PM                2
Browser Info         8287
Company              8653
Credit Card         10000
CC Exp Date           121
CC Security Code     1758
CC Provider            10
Email                9954
Job                   623
IP Address          10000
Language                9
Purchase Price       6349
dtype: int64

In [34]:
print("Ammount unique languages: " + str(ecom['Language'].nunique()))
print("Unique languges: " + str(ecom['Language'].unique()))

Ammount unique languages: 9
Unique languges: ['el' 'fr' 'de' 'es' 'ru' 'pt' 'zh' 'en' 'it']

**Wie viele Zeilen und Spalten gibt es?**

In [35]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

**Was ist der durchschnittliche (en. mean) Einkaufspreis (en. purchase price)?**

In [36]:
ecom['Purchase Price'].mean()

50.347302

**Was waren der höchste und der niedrigste Einkaufspreis?**

In [37]:
ecom['Purchase Price'].max()

99.99

In [38]:
ecom['Purchase Price'].min()

0.0

**Wie viele Leute haben Deutsch "de" als ihre Sprache (en. language) der Wahl?**

In [39]:
ecom[ecom['Language'] == 'de'].count()

Address             1155
Lot                 1155
AM or PM            1155
Browser Info        1155
Company             1155
Credit Card         1155
CC Exp Date         1155
CC Security Code    1155
CC Provider         1155
Email               1155
Job                 1155
IP Address          1155
Language            1155
Purchase Price      1155
dtype: int64

**Wie viele Leute tragen als Berufsbezeichnung "Lawyer" (dt. Anwalt)?**

In [40]:
ecom[ecom['Job'] == 'Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [41]:
ecom[ecom['Job'] == 'Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

**Wie viele Leute tätigten ihren Einkauf vor 12 Uhr (en. AM) und wie viele nach 12 Uhr (en. PM)?**

*Hinweis: Schaut euch dazu [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) an!*

In [42]:
ecom.groupby('AM or PM').count()

,Address,Lot,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
AM or PM,,,,,,,,,,,,,
AM,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932
PM,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068

In [43]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

**Was sind die 5 häufigsten Berufsbezeichnungen (en. job title)?**

In [44]:
ecom['Job'].value_counts().head()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [45]:
ecom.nunique(axis=0)

Address             10000
Lot                  9822
AM or PM                2
Browser Info         8287
Company              8653
Credit Card         10000
CC Exp Date           121
CC Security Code     1758
CC Provider            10
Email                9954
Job                   623
IP Address          10000
Language                9
Purchase Price       6349
dtype: int64

**Jemand tätigte einen Kauf vom Lot "90 WT" aus. Wie war dessen Einkaufspreis (en. purchase price)?**

In [46]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

**Wie lautet die Emailadresse der Person mit folgender Kreditkartennummer: 4926535242672853?**

In [47]:
ecom[ecom['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

**Wie viele Leute haben als Kreditkartenanbieter (en. credit card provider) *American Express* und haben einen Einkauf über $95 getätigt?**

In [48]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

**Die Kreditkarte wie vieler Kunden läuft im Jahr 2025 ab?**

In [49]:
sol1 = ecom['CC Exp Date'].apply(lambda x: ('25' in x)).value_counts()
sol2 = sum(ecom['CC Exp Date'].apply(lambda x: x[3:])=='25')

print(sol1)
print(sol2)

False    8967
True     1033
Name: CC Exp Date, dtype: int64
1033

In [50]:
len(list(filter(lambda x: ('25' in x), ecom['CC Exp Date'])))

1033

**Was sind die populärsten Email-Anbieter (z.B. gmail.com)?**

In [51]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [52]:
example_email = ecom['Email'].iloc[0]

In [53]:
print(example_email.split('@')[1])

yahoo.com

# Gut gemacht